a:link,:visited {
 color: black
}

body {
  text-align: center;
}

h1 {
  margin-top: 30px;
}

ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

header-list{
  padding :20px 38px;
  font-weight: bold;
}

li {
  padding :20px 38px;
  font-weight: bold;
}

a {
  text-decoration: none;
}

p {
  margin-top: 30px;
  margin-bottom: 50px;
}

.button {
  background: #2d52a5;
  color: white;
  padding: 25px 80px;
  font-weight: bold;
}

.footer-one {
  background: #2d52a5;
  margin-top: 100px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.footer-one .footer-list {
  padding :20px 38px;
  font-weight: bold;
  color: white;
}

.footer-one .footer-map {
  color: white;
}

.copyright {
  background: black;
  color: white;
  padding: 15px;
  margin: 0px;
  }