header a:link,
header a:visited {
   color:white;
}

.employinfo a:link,
.employinfo a:visited {
   color:black;
}

.company-image a:link,
.company-image a:visited {
  color:white;
}

.recruit-image a:link,
.recruit-image a:visited {
  color:white;
}

.footer-list a:link,
.footer-list a:visited {
  color:white;
}

body {
  margin: 0px;
  text-align: center;
}

.header-list  {
  display: flex;
  justify-content: space-between;
  background-color: #000000;
}

.header-list h1 {
  margin-top: 44px;
  margin-left: 45px;
  color :white;
}

.header-list ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin-top: 0px;
  margin-bottom: 0;
}


.header-list li {
  padding :25px 55px;
  margin: 28px 12px 29px 13px;
  font-weight: bold;
  font-size: 20px;
}

.top-image img {
  width: 100%;
  max-height: 720px;
}

.middle-contents {
  display: flex;
  justify-content: center;
  margin: 100px 180px 100px 180px;

}

.middle-contents img {
  width: 40%;
  max-height: 350px;

}

.middle-contents .text {
  width: 40%;
}

.middle-contents .text h2 {
  text-align: left;
  color: #000000;
  padding: 0;
  margin-top: 40px;
  margin-left: 43px;
  font-size: 30px;
}

.middle-contents .text p {
  text-align: left;
  margin-top: 50px;
  margin-left: 43px;
  padding-right: 10px;
}


.hpinfo {
  background-color: #f2f2f2;
  margin-top: 90px;
  padding-bottom: 55px;
}

.hpinfo h2 {
  padding-top: 55px;
  padding-bottom: 50px;
  margin: 0;
  color: #000000;
}

.hpinfo p {
  background-color: #ffffff;
  font-size: 16px;
  padding: 30px;
  font-weight: bold;
  text-align: left;
  margin: 10px auto 0px auto;
  width: 886px;
}

a {
  text-decoration: none;
}

.company-image {
  display: flex;
  justify-content: center;
  background-color: #f2f2f2;
  margin-top: 100px;
  width: 886px;
  margin-left: auto;
  margin-right: auto;


  }

.company-image img {
  width: 40%;
}

.company-image .company-text {
  width: 40%;
  justify-content: center;
  align-items: center;
}

.company-text h2 {
  margin-top: 70px;
  font-weight: bold;
  color: #000000;
  padding-top: 0;
  padding-bottom: 20px;
  margin-left: 100px;

}

.company-text .link-one {
  text-align: center;
  background-color: #000000;
  color: white;
  padding : 10px 0 10px 0;
  width: 200px;
  margin-left: 130px;
}




.recruit-image {
  display: flex;
  justify-content: center;
  background-color: #f2f2f2;
  margin-top: 30px;
  width: 886px;
  margin-left: auto;
  margin-right: auto;

}

.recruit-image img {
  width: 40%;
}

.recruit-image .recruit-text {
  width: 40%;
  justify-content: center;
  align-items: center;
}

.recruit-text h2 {
  margin-top: 70px;
  font-weight: bold;
  color: #000000;
  padding-top: 0;
  padding-bottom: 20px;
  margin-left: 100px;
}

.recruit-text .recruit-info {
  text-align: center;
  background-color: #000000;
  color: white;
  padding : 10px 0 10px 0;
  width: 200px;
  margin-left: 130px;
}

 footer {
  background-color: #000000;
}

h2 {
  margin-top: 100px;
  margin-bottom: 0;
  padding-top: 95px;
  padding-bottom: 35px;
  color :white;
}


footer p {
  color: white;
  margin: 0;

}

.footer-list ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 0px;
  margin-bottom: 0;
}

.footer-list li {
  padding : 90px 50px;
  margin: 0 0 29px 0;
  font-weight: bold;
}

.copyright {
  margin-bottom: 0;
  color: white;
  padding: 0 0 90px 0;
  }

  a {
    text-decoration: none;
  }