header a:link,
header a:visited {
   color:white;
}

.employinfo a:link,
.employinfo a:visited {
   color:black;
}

header {
  margin-bottom: 60px;
}

ul {
  list-style: none;
  display: flex;
  justify-content: center;
  background-color: #4d4d4d;
  margin-top: 0px;
}

li {
  padding :25px 55px;
  background-color: #b3b3b3;
  margin: 28px 12px 29px 13px;
  font-weight: bold;
}

body {
  margin: 0px;
  text-align: center;
}

h1 {
  margin-top: 30px;
  margin-bottom: 47px;
}

main p {
  margin-top: 30px;
  margin-bottom: 50px;
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.hpinfo p {
  background-color: #e6e6e6;
  font-size: 16px;
  padding: 37px;
  font-weight: bold;
  text-align: left;
  margin: 10px auto 0px auto;
  width: 886px;
}

a {
  text-decoration: none;
}

.employinfo {
  display: flex;
  justify-content: center;
  background-color: #e6e6e6;
  margin-top: 100px;
  width: 960px;
  margin-right: auto;
  margin-left: auto;
}

.company {
  display: block;
  width: 387px;
  padding-bottom: 25px;
}

.company img {
  height: 250px;
  width: 100%;
  padding: 60px 58px 35px 58px;
  margin-right: auto;
  margin-left: auto;
}

.company div {
  text-align: center;
  font-weight: bold;
}

.recruit {
  display:  block;
  width: 387px;
  padding-bottom: 25px;
}

.recruit img {
  height: 250px;
  width: 100%;
  padding: 60px 58px 35px 58px;
  margin-left: 64px;

}

.recruit div {
  text-align: center;
  font-weight: bold;
}

.copyright {
  font-weight: bold;
  margin-top: 100px;
  margin-bottom: 0;
  background: #4d4d4d;
  color: white;
  padding: 64px;
  width: 100%;
  }