header a:link,
header a:visited {
   color:white;
}

.employinfo a:link,
.employinfo a:visited {
   color:black;
}

.footer-list a:link,
.footer-list a:visited {
  color:white;
}

body {
  margin: 0px;
  text-align: center;
}

.header-list ul {
  list-style: none;
  display: flex;
  justify-content: right;
  background-color: #000000;
  margin-top: 0px;
  margin-bottom: 0;
}

.header-list ul h1 {
  display: flex;
  justify-content: left;
  margin-top: 35px;
  margin-bottom: 40px;
  color :white;
}

.header-list li {
  padding :25px 55px;
  margin: 28px 12px 29px 13px;
  font-weight: bold;
}

.top-image img {
  width: 100%;
}

.catch-image img {
  margin-top: 96px;
  margin-left: 500px;
  height: 308px;
  width: 480px;
}

.middle-contents {
  display: flex;
  justify-content: center;
}

.middle-contents .right {
  display: block;
  justify-content: left;
  margin: 96px 0 0 0;
}

.middle-contents .title {
  margin: 0;
  padding-top: 26px;
  text-align: left;
  font-weight: bold;
  font-size: 24px;
}

.middle-contents .text {
  text-align: left;
  margin: 10px 0 0;
  padding: 0;
  width: 450px;
}

main p {
  margin-top: 30px;
  margin-bottom: 50px;
  width: 960px;
  line-height: 1.8;
}

.hpinfo {
  background-color: #f2f2f2;
  margin-top: 90px;
  padding-bottom: 55px;
}

.hpinfo h2 {
  padding-top: 55px;
  padding-bottom: 50px;
  margin: 0;
  color: #000000;
}

.hpinfo p {
  background-color: #ffffff;
  font-size: 16px;
  padding: 30px;
  font-weight: bold;
  text-align: left;
  margin: 10px auto 0px auto;
  width: 886px;
}

a {
  text-decoration: none;
}

.company {
  display: flex;
  justify-content: center;
  background-color: #f2f2f2;
  width:886px;
  margin-top: 97px;
}

.company-image image {
  height: 300px;
  width: 480px;
}

.company-title {
  margin: 0;
  padding-top: 26px;
  text-align: left;
  font-weight: bold;
  font-size: 24px;
}

.company-contents {
  text-align: left;
  margin: 10px 0 0;
  padding: 0;
  width: 450px;
}



.recruit {
  display: flex;
  justify-content: center;
  background-color: #e6e6e6;  
  width: 25px;
  margin-top: 97px;

}

.recruit-image img {
  height: 252px;
  width: 390px;
}

.recruit-title {
  margin: 0;
  padding-top: 26px;
  text-align: left;
  font-weight: bold;
  font-size: 24px;
}

.recruit-contents {
  text-align: left;
  margin: 10px 0 0;
  padding: 0;
  width: 450px;
}

 footer {
  background-color: #000000;
}

h2 {
  margin-top: 100px;
  margin-bottom: 0;
  padding-top: 95px;
  padding-bottom: 35px;
  color :white;
}


footer p {
  color: white;
  margin: 0;

}

.footer-list ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 0px;
  margin-bottom: 0;
}

.footer-list li {
  padding : 90px 50px;
  margin: 0 0 29px 0;
  font-weight: bold;
}

.copyright {
  margin-bottom: 0;
  color: white;
  padding: 0 0 90px 0;
  }